#plugin__farmer_admin {

    .panelHeader {
        background-color: #eee;
        margin: 0;
        padding: 10px 10px 8px;
        overflow: hidden;
        border-right: 1px solid @ini_border;
        border-left: 1px solid @ini_border;
    }

    .panelMain,
    .panelFooter {
        padding: 1em;
        border-right: 1px solid @ini_border;
        border-left: 1px solid @ini_border;
    }

    .panelFooter {
        border-bottom: 1px solid @ini_border;
    }

    form {
        display: block;
        text-align: center;

        fieldset {
            width: 80%;
            padding: 1em;
        }

        label {
            text-align: left;
            display: block;
            margin-bottom: 0.5em;

            &:hover {
                background-color: @ini_background_alt;
            }

            span {
                display: inline-block;
                width: 40%;
            }
        }

        .chosen-container {
            margin-bottom: 0.5em;
        }

        button {
            margin: 1em;
        }
    }

    .pluginmatrix {
        width: 80%;
        margin: 1em auto;

        table {
            thead th {
                position: relative;
                height: 8em;
                vertical-align: bottom;
                overflow: visible;
                background-color: transparent;
                border: none;

                div {
                    transform-origin: bottom left;
                    transform: rotate(-60deg);
                    position: absolute;
                    left: 1em;
                    bottom: 0;
                    z-index: 5;
                }
            }

            tbody {
                position: relative;

                td {
                    cursor: pointer;
                }

                th.off,
                td.off {
                    background-color: #c33;
                }

                th.on,
                td.on {
                    background-color: #3c3;
                }

                th.default,
                td.default {
                    opacity: 0.5;
                }
            }
        }
    }

}
